In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Esperance,AU,2021-03-31 21:05:40,-33.8667,121.9000,64.40,94,90,10.36
1,1,Victoria,HK,2021-03-31 21:02:18,22.2855,114.1577,78.01,85,97,9.08
2,2,Qaanaaq,GL,2021-03-31 21:05:41,77.4840,-69.3632,3.11,82,100,21.43
3,3,Phalaborwa,ZA,2021-03-31 21:05:41,-23.9430,31.1411,71.60,64,99,3.44
4,4,Upernavik,GL,2021-03-31 21:05:42,72.7868,-56.1549,3.51,71,100,7.61

In [3]:
city_data_df["Max Temp"].min()

-43.04

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 20
What is the maximum temperature you would like for your trip? 50

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
10,10,Yellowknife,CA,2021-03-31 21:01:12,62.4560,-114.3525,25.00,49,90,11.50
16,16,Punta Arenas,CL,2021-03-31 21:04:31,-53.1500,-70.9167,50.00,66,0,8.05
17,17,Havre-Saint-Pierre,CA,2021-03-31 21:05:46,50.2334,-63.5986,35.60,80,75,17.27
21,21,Van,TR,2021-03-31 21:02:10,38.4924,43.3831,39.20,70,40,3.44
22,22,Vardo,NO,2021-03-31 21:05:48,70.3705,31.1107,35.60,87,75,19.57
23,23,Dongsheng,CN,2021-03-31 21:05:48,39.8161,109.9776,42.91,85,100,8.28
29,29,Mataura,NZ,2021-03-31 21:05:51,-46.1927,168.8643,46.00,94,51,1.99
30,30,Tasiilaq,GL,2021-03-31 21:05:51,65.6145,-37.6368,30.20,93,90,6.91
33,33,Tuatapere,NZ,2021-03-31 21:05:52,-46.1333,167.6833,46.00,94,55,1.99
35,35,Kotelnikovo,RU,2021-03-31 21:05:53,47.6317,43.1461,40.41,70,0,8.21

In [20]:
preferred_cities_df.count()

City_ID       251
City          251
Country       251
Date          251
Lat           251
Lng           251
Max Temp      251
Humidity      251
Cloudiness    251
Wind Speed    251
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp      Lat       Lng Hotel Name
10         Yellowknife      CA     25.00  62.4560 -114.3525
16        Punta Arenas      CL     50.00 -53.1500  -70.9167
17  Havre-Saint-Pierre      CA     35.60  50.2334  -63.5986
21                 Van      TR     39.20  38.4924   43.3831
22               Vardo      NO     35.60  70.3705   31.1107
23           Dongsheng      CN     42.91  39.8161  109.9776
29             Mataura      NZ     46.00 -46.1927  168.8643
30            Tasiilaq      GL     30.20  65.6145  -37.6368
33           Tuatapere      NZ     46.00 -46.1333  167.6833
35         Kotelnikovo      RU     40.41  47.6317   43.1461

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp      Lat       Lng Hotel Name
10         Yellowknife      CA     25.00  62.4560 -114.3525
16        Punta Arenas      CL     50.00 -53.1500  -70.9167
17  Havre-Saint-Pierre      CA     35.60  50.2334  -63.5986
21                 Van      TR     39.20  38.4924   43.3831
22               Vardo      NO     35.60  70.3705   31.1107
23           Dongsheng      CN     42.91  39.8161  109.9776
29             Mataura      NZ     46.00 -46.1927  168.8643
30            Tasiilaq      GL     30.20  65.6145  -37.6368
33           Tuatapere      NZ     46.00 -46.1333  167.6833
35         Kotelnikovo      RU     40.41  47.6317   43.1461

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [28]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))