## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City_ID.1,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather description
0,6,6,Maoming,21.65,110.90,75.45,88,80,3.96,light rain
1,10,10,Saint George,37.10,-113.58,90.00,6,1,4.05,clear sky
2,14,14,Luau,-10.71,22.22,75.22,31,37,5.59,scattered clouds
3,16,16,Kapaa,22.08,-159.32,84.20,66,40,11.41,scattered clouds
4,17,17,Kavaratti,10.57,72.64,80.71,71,96,11.03,overcast clouds

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Weather description</dt><dd>{Weather description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height=&#39;420px&#39;))

In [14]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City_ID"]==608]
vacation_end = vacation_df.loc[vacation_df["City_ID"]==608]
vacation_stop1 = vacation_df.loc[vacation_df["City_ID"]==375]
vacation_stop2 = vacation_df.loc[vacation_df["City_ID"]==568] 
vacation_stop3 = vacation_df.loc[vacation_df["City_ID"]==353]

In [15]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
start = (start[0][3],start[0][4])
end = vacation_end.to_numpy()
end = (end[0][3],end[0][4])
stop1 = vacation_stop1.to_numpy()
stop1 = (stop1[0][3],stop1[0][4])
stop2 =vacation_stop2.to_numpy()
stop2 = (stop2[0][3],stop2[0][4])
stop3 =vacation_stop3.to_numpy()
stop3 = (stop3[0][3],stop3[0][4])

In [16]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
start2stop = gmaps.directions_layer(start, end, [stop1, stop2, stop3],travel_mode="DRIVING")
fig.add_layer(start2stop)
fig

Figure(layout=FigureLayout(height=&#39;420px&#39;))

In [17]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City_ID.1,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather description
0,608,608,Riyadh,24.69,46.72,78.8,27,0,3.36,clear sky
1,608,608,Riyadh,24.69,46.72,78.8,27,0,3.36,clear sky
2,375,375,Salalah,17.02,54.09,77.0,94,40,2.24,scattered clouds
3,568,568,Abu Dhabi,24.47,54.37,87.8,74,0,4.70,clear sky
4,353,353,Doha,25.29,51.53,89.6,62,0,3.36,clear sky

In [18]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Weather description</dt><dd>{Weather description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height=&#39;420px&#39;))